
#strategy-panel {
    margin-top: 10px;
    /*min-height:300px;*/
    border: 1px solid lightgray;
    border-radius: 5px;

}


.container {
    margin-top: 50px;
}

.buttons > :first-child {
    margin-left: 10px;
    width : 50%;
}
#btn-reset{
    float: left;
    width: 20%;
    float: left;
}
.code {
    opacity: 0.4 !important;
}

.code p {
    color: #000 !important;
}

.active {
    opacity: 1;
    font-weight: 600;
}

.margin-1 {
    margin-left: 2%;
}

.margin-2 {
    margin-left: 4%;
}

.margin-3 {
    margin-left: 6%;
}

.margin-4 {
    margin-left: 8%;
}

.margin-5 {
    margin-left: 10%;
}

.hidden {
    vissibility: hidden;
}

.unhidden {
    visibility: visible;
}

.well {
    color: #777777;
}

.current {
    color: black;
    font-weight: 600;
}

.wrapper {
    white-space: pre;
}

.panel-body {
    position: relative;
    height: 600px;
    overflow: auto;
    overflow-x: hidden;
}

.desc-div {
    position: absolute;
    width: 40%;
    right: 10px;
    top: 10px;
/ / min-height: 30 %;

}
.panel-info>.panel-heading {
    min-height: 60px!important;
}

.desc-div .panel-body {
    height: 500px;
}

.sub-decs {
    min-height: 10%;
    overflow-y: auto;

}

.tt {
    position: absolute;
    top: 10px;
    right: 10px
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}
.selection-prompt{
    color:orangered;
    font-family: '.SF NS Display';
    font-size: 22px;
    display: inline;
    margin-left: 3%;
}

.code-text {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    /*background: #faf8f0;*/
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

.pointer {
    cursor: pointer;
}
.wizard-block {
    width: auto;
    width: 200px;
    padding: 10px;
    height: auto;
    color: #777777;
    display: inline;
}
/*/*?*?*?*?/*/
.menu {
    font-size: 11px;
    padding: 0px 10px 0 10px;
    float: left;
    width: 880px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    text-align: left;
    /*border: none;*/
    outline: none;
    transition: 0.8s;
    min-height: 50px;
    margin: 5px;
}
header span.ribbon-inner {
    position: relative;
    display: block;
    padding: 2px;
    color: #f2f2e6;
    z-index: 1;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}
accordion .accordion-navigation {
    background: #EFEFEF;
    color: #222222;
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 0.88889rem;
    padding: 0.88889rem;
}

/*!* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) *!*/
/*button.accordion.active, button.accordion:hover {*/
    /*background-color: #ddd;*/
/*}*/

/*!* Style the accordion panel. Note: hidden by default *!*/
/*div.panel {*/
    /*padding: 0 18px;*/
    /*background-color: white;*/
    /*display: none;*/
/*}*/

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    //padding-top: 20px;
    //background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.strategy-select {
    color: #ffffff;
    position: absolute;
    top: 27px;
    z-index: 1000;
    left: 20px;
}

.header-level-1 {
    position: absolute;
    top: 10px;
    z-index: 1000;
    left: 250px;
}

#header-title {
    margin-bottom: 10px;
}

.showvars {
    border: solid 1px lightgray;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.var-outer-border {
    border: solid 1px lightgray;
    display: inline-block;
    padding: 3px;
    margin: 5px;
}

@media screen and (max-width: 1460px) {
    .strategy-select {
        top: 102px;
        color: #000;
    }

    #header-title {
        margin-bottom: 50px;
    }

    .header-level-1 {
        top: 85px;
    }
}
