<!DOCTYPE html>
<html lang="en" ng-app="myAdmin">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/admin-styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="js/bundle-admin.js"></script>
    <title> Strategy Build Admin Page</title>
</head>
<body ng-controller="AdminCtrl">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="logo">
                        <h1><a href="Admin-backup.html"> Strategy Tracker Admin</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container" >
    <div class="page-content">
        <div class="row">
            <div class="col-md-12" style="margin-bottom:20px;">
                <div class="content-box-header">

                    <div class="col-md-10">
                        <select ng-model="selectedStrategy" ng-options="strat.displayName for strat in allStrategies">
                        </select>
                        <h1>{{selectedStrategy.displayName}}</h1>
                        <!--<ul >-->
                            <!--<li class="dropdown">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Model Fault Localization <b class="caret"></b></a>-->
                                <!--<ul class="dropdown-menu animated fadeInUp">-->
                                    <!--<li ng-repeat="stat in allStrategies">{{stat.displayName}}</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <pre style="min-height: 400px;" id="editor">{{selectedStrategy.displayName}}

                        </pre>
                    </div>
                    <div class="panel-options col-md-2">
                        <button ng-click="publish()" title="Save the strategy to database " href="#" data-rel="reload"><i class="glyphicon glyphicon-save"></i></button>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </section>
    <script src="ace-builds-master/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setOptions({
            useWrapMode: true,
            highlightActiveLine: true,
            showPrintMargin: false,
            theme: 'ace/theme/tomorrow_night',
            mode: 'ace/mode/javascript'
        })
        console.log(editor.getValue());
    </script>

</body>
</html>

