<!DOCTYPE html>
<html lang="en" ng-app="myAdmin">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/admin-styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->T
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="js/admin-test.js"></script>
    <script src="js/comments.js"></script>
    <!--<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>-->
    <!--<script src="ace-builds-master/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>script-->
    <title> Strategy Build Admin Page</title>
</head>
<body ng-controller="AdminCtrl">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="logo">
                        <h1><a href="Admin-backup.html"> Strategy Tracker Admin</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container" >
    <div class="page-content">
        <div class="row">
            <div class="col-md-12" style="margin-bottom:20px;">
                <div class="content-box-header">
                    <div class="col-md-10">
                        <select ng-model="selectedStrategy"
                                ng-options= "s.displayName for s in allStrategies"
                                ng-change = "strategyChanged()">
                        </select>
                        <h1 id="stratHeader">{{selectedStrategy.displayName}}</h1>
                        <!--<div id="aceEditor" style="min-height: 600px;"-->
                             <!--ui-ace="aceOption" [autoUpdateContent]="true" ng-model="aceModel">-->
                        <!--</div>-->
                    </div>
                    <div class="panel-options col-md-0.5">
                        <button ng-click="publish()" title="Publish changes to database " href="#" data-rel="reload"><i class="glyphicon glyphicon-export"></i></button>
                    </div>
                    <div class="panel-options col-md-0.5">
                        <button ng-click="addNewStrategy()" title="Making new strategy Json " href="#" data-rel="reload"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>

                <div id="frmStrategyCreation">
                    <form class="form" action="#" >
                        <br/>
                        <label>Owner: <span></span></label>
                        <br/>
                        <input type="text" id="owner" placeholder="Owner of the strategy" ng-model="newStrategyOwner"/><br/>
                        <br/>
                        <label>Display Name: <span></span></label>
                        <br/>
                        <input type="text" id="displayName" placeholder="Display name" ng-model="newStrategyDisplayName"/><br/>
                        <br/>
                        <label>Strategy Name:</label>
                        <br/>
                        <input type="text" id="strategyName" placeholder="Name" ng-model="newStrategyName"/><br/>
                        <br/>
                        <!--<label>Strategy Type:</label>-->
                        <!--<br/>-->
                        <!--<input type="text" id="strategyType" placeholder="Type" ng-model="newStrategyType"/><br/>-->
                        <br/>

                        <br/>
                    </form>
                    <input type="button"  ng-click="createStrategy()" value="Create"/>
                    <input type="button"  ng-click="cancelCreatingStrategy()" value="Cancel"/>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>

