<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="js/bundle.js"></script>
    <script type="text/ng-template" id="statement-renderer.html">
        <div ng-class="(main.execObj.activeLines.indexOf(st.id) >= 0 ) ? 'active' : 'code'">
            <span ng-bind-html="st.text"></span>
            <span ng-if="st.type == 'if'  && (main.execObj.activeLines.indexOf(st.id) >= 0 )">
                <input class="btn btn-success btn-sm" type="button" value="True" ng-click="main.LogEventTrue(); main.innerStatement()" />
                <input class="btn btn-warning btn-sm" type="button" value="False" ng-click="main.LogEventFalse();main.outerStatement()" />
            </span>
            <span ng-if="st.type == 'until'  && (main.execObj.activeLines.indexOf(st.id) >= 0 )">
                <input class="btn btn-success btn-sm" type="button" value="True" ng-click="main.LogEventTrue(); main.outerStatement()" />
                <input class="btn btn-warning btn-sm" type="button" value="Not Yet" ng-click="main.LogEventNotYet();main.innerStatement()" />
            </span>
        </div>
        <p ng-repeat="comment in st.comments" ng-class="(main.execObj.activeLines.indexOf(st.id) >= 0 ) ? 'visibleDescription' : 'hidden' ">{{comment.replace('#','')}}</p>

        <ul style="list-style: none">
            <li ng-repeat=" st in st.statements" ng-include="'statement-renderer.html'"></li>
        </ul>

    </script>
    <title> Debugging Strategy</title>
</head>
<body ng-controller="MainCtrl as main" ng-cloak>
<h4 class="strategy-select">Please select your Strategy</h4>
<h3 id="model-fault-localization" class="header-level-1" style="color:white;> ->
    <button class="btn btn-default" id="one"
            ng-click="main.strategyChangedDebug()"> Debug
    </button>
    <button class="btn btn-default" id="two"
            ng-click="main.strategyChangedReuse()"> Code Reuse
    </button>
</h3>
<!--<h3 id="model-fault-localization" class="header-level-1">-->
    <!--<select ng-model="main.myStrategy"-->
            <!--style="width: 270px;"-->
            <!--ng-change="main.strategyChanged()"-->
            <!--ng-options="strat.displayName for strat in main.allStrategies"></select>-->
<!--</h3>-->
<!-- Modal -->
<div class="modal fade" id="initialParams" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ng-if="main.selectedStrategy.description" ng-repeat="desc in main.selectedStrategy.description">{{desc}}</h4>
                <h4 class="modal-title" ng-if="!main.selectedStrategy.description">Please provide us with the failure to debug</h4>
            </div>
            <div class="modal-body">
                <div class="form-group var-div" ng-repeat="var in main.parameters track by var.id">
                    <label class="col-sm-4" ng-for="var" style="margin-bottom: 10px">{{var.name}}</label>
                    <input class="col-sm-8" type="text" ng-id="var" ng-model="var.val" style="margin-bottom: 10px">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="main.LogData(); main.proceedToStrategy()">
                    Proceed
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        ng-click="main.selectedStrategy = null; main.execObj = null;">Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->
<nav class="container-fluid" id="header-title">
    <header class="row">
       <span class="ribbon-inner">
            <h1 style="text-align: center;">ProgrammingStrategies</h1>
            <h5 style="text-align: center;">A repository of strategies for programming</h5>
       </span>
    </header>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-7 text-left">
            <div class="panel-info">
                <div class=" panel-heading">
                    <div id="buttons1" class="form-inline" style="margin-bottom: 0;">
                        <button class="btn btn-warning btn-sm" id="reset" ng-click="main.LogEventReset(); main.reset()"
                                ng-disabled="!main.selectedStrategy || main.execObj.setNeeded || main.execObj.selectionNeeded"
                                title="Reset the strategy steps to the first step"> Let me try again
                        </button>


                            <button class="btn btn-success btn-sm" id="success" ng-click="main.LogEventSuccess(); main.redirectToHome();"
                                    ng-disabled="!main.selectedStrategy || main.execObj.setNeeded || main.execObj.selectionNeeded"
                                    title="I have Successfully used the Strategy"> I solved the problem
                            </button>

                        <button class="btn btn-primary pull-right" id="next"
                                ng-disabled="main.execObj.activeLines.length > 1 || !main.selectedStrategy || main.execObj.setNeeded || main.execObj.selectionNeeded"
                                ng-click="main.LogEventNext();main.nextStatement()"> Next
                        </button>

                        <button class="btn btn-default pull-right" id="prev"
                                ng-disabled="main.isPrevDisabled || !main.selectedStrategy"
                                ng-click="main.LogEventPrevious();main.prevStatement()"> Previous
                        </button>

                        <!--<p>{{variables}}</p>-->
                    </div>
                </div>
            </div>
            <div id="strategy-panel" class="panel-info">
                <div class="panel-heading">
                    {{main.selectedStrategy.displayName}}
                    <div ng-if="main.execObj.activeLines.length > 1"
                         style="color:orangered; font-family: '.SF NS Display';  font-size: 22px; display: inline; margin-left: 3%">
                        <strong>Please Select the desired statement.</strong>
                    </div>
                    <div ng-if="main.execObj.setNeeded"
                         style="color:orangered; font-family: '.SF NS Display';  font-size: 22px; display: inline; margin-left: 3%">
                        <strong>Please set the variable</strong>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <!-- Strategy statements-->
                        <div class="col-xs-12">
                            <div class="panel-group" id="strategiesAccordion">
                                <div ng-attr-id="{{'strategy' + $index}}" class="panel panel-default"
                                     ng-repeat="strat in main.selectedStrategy.strategies track by $index">
                                    <!-- accordion headers with strategies names-->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#strategiesAccordion"
                                               ng-href="{{'#' + strat.name}}">
                                                {{strat.name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div ng-attr-id="{{strat.name}}" class="panel-collapse collapse"
                                         ng-class="{'in' : $index == 0}">
                                        <div class="panel-body" style="height: auto;">
                                            <div>
                                                <div ng-class="(main.execObj.activeLines.indexOf(strat.id) >= 0 ) ? 'active' : 'code'">
                                                    {{strat.text}}
                                                </div>

                                                <ul style="list-style: none">
                                                </ul>
                                            </div>
                                            <div ng-repeat="st in strat.statements"
                                                 ng-include="'statement-renderer.html'"
                                                 ng-click="main.isDisabled || main.chooseNextStatement($event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 sidenav">
            <div class="panel-primary">
                <div class="panel-heading">
                    Variables
                </div>
                <div class="panel-body text-left">
                    <div class="form-group var-div" ng-repeat="var in main.execObj.variables track by var.id"
                         ng-show="var.visible == true && var.type !== 'argument'">
                        <label class="col-md-4" ng-for="var.name"
                               style="position: relative;top: 14px;">{{var.name}}</label>
                        <variable-value class="col-md-8" model-id="var.name" is-array="isArray(var.val)" parent-id="var.parentId" fade-in="var.visible"
                                        model="var.val" dirty-array="var.dirtyArray" prev-var="var.prevVar">

                        </variable-value>
                    </div>
                </div>
                <!--<p >The value of variables might changed due to calling a new strategy &#45;&#45; {{main.execObj.currentStatement.type}}</p>-->

                <p ng-class="main.execObj.currentStatement.type =='strategy' ? 'unhidden' :'hidden'" style="background-color: rgba(43,214,131, 0.2) ">The value of variables might changed due to calling a new strategy</p>
            </div>
        </div>
        <div class="col-sm-5 sidenav">
            <!--<div class="panel-primary">-->
                <!--<div class="panel-heading">-->
                    <!--Description-->
                <!--</div>-->
                <!--<div class="panel-body text-left">-->
                    <!--<p ng-repeat="comment in main.execObj.currentStatement.comments" class="code-text">{{comment.replace('#','')}}</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="panel-primary" ng-class="(main.execObj.currentStatement.miniSteps.length>0 ) ? 'unhidden' : 'hidden'">
                <div class="panel-heading">
                    {{main.execObj.currentStatement.type.toUpperCase()}} Statement Steps
                </div>
                <div class="panel-body text-left">
                    <p ng-repeat="step in main.execObj.currentStatement.miniSteps" class="code-text"><span
                            style="margin-right: 20px;" ng-class="step.role == 'User' ? 'glyphicon glyphicon-user' : 'glyphicon glyphicon-modal-window'"></span>{{step.text}}</p>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>
