<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>


    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="js/bundle.js"></script>


    <title> Debugging Strategy</title>
</head>
<body ng-controller="MainCtrl" ng-cloak>

<section class="container" style="margin-top: 50px">
    <header class="row" style="margin-bottom: 50px;">
       <span class="ribbon-inner">
            <h1 style="text-align: center;">ProgrammingStrategies</h1>
            <h5 style="text-align: center;">A repository of strategies for programming</h5>
       </span>

        <h2 id="model-fault-localization" class="header-level-1">
            <select ng-model="selectedStrategy" ng-options="strat.displayName for strat in allStrategies" >

            </select>




        </h2>
        <p>
            The core idea of model fault localization is to explore permutations of interactions with the system to understand how the interaction needs to happen differently to
            remove the failure. For example, you might a config file to initialize a
            library (configuration paramters), a code snippet making three calls (code),
            and the external library it uses (the system). Model fault localization separately considers two separate causes of failure.
        </p>

        <p>
            In the following tool, you can follow the Model Fault Localization strategy steps by clicking the buttons "next" and "previous".</br>
            In the description panel, there is more details about each steps.</br>
            The variables panel shows all the variables in the strategy. You can assign specific values and keep track of them during the execution of the strategy steps.</br>
            Every time you need to come back to the first step, just reset the strategy.
        </p>
    </header>
    <div class="row">
        <div id="wizard" class="col-sm-12" style="margin-bottom: 50px;">
            <div class="wizard-block well">{{selectedStrategy.displayName}}</div>

        </div>
    </div>
    <div class="panel-info">
        <div class=" panel-heading">
            <div id="btn-reset">
                <button class="btn btn-default" id="reset" ng-click="reset()" title="Reset the strategy steps to the first step"> Reset</button>
            </div>

            <div id="buttons" class="form-group" style="margin-bottom: 0; text-align: right">

                <button class="btn btn-default" id="prev"
                        ng-disabled="isPrevDisabled"
                        ng-click="prevStatement()"> Previous
                </button>
                <button class="btn btn-primary" id="next"
                        ng-disabled="currentStatement.activeLines.length > 1"
                        ng-click="nextStatement()"> Next
                </button>
            </div>
        </div>
    </div>
    <div id="strategy-panel" class="panel-info">
        <div class="panel-heading">
            {{selectedStrategy.displayName}}
            <div ng-if="currentStatement.activeLines.length > 1" style="color:orangered; font-family: '.SF NS Display'; font-size: 22px; display: inline; margin-left: 3%">
            <strong>Please Select the desired statement.</strong>
        </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel-group" id="strategiesAccordion">
                        <div ng-attr-id="{{'strategy' + $index}}" class="panel panel-default" ng-repeat="strat in selectedStrategy.subStrategies track by $index">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#strategiesAccordion" ng-href="{{'#' + strat.name}}">
                                        {{strat.displayName}}
                                    </a>
                                </h4>
                            </div>
                            <div ng-attr-id="{{strat.name}}" class="panel-collapse collapse" ng-class="{'in' : $index == 0}">
                                <!--todo &&(strat.name == )-->
                                <div class="panel-body" style="height: auto;">
                                    <div ng-repeat="st in strat.statements"
                                    ng-class="(currentStatement.activeLines.indexOf(st.lineNum) !== -1) && (strategy.name === strat.name) ? 'active' : 'code'"
                                    ng-click="chooseNextStatement($event)"
                                    class="{{st.class}} " ng-attr-id="{{st.lineNum}} ">
                                        <p class="code-text">{{st.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="desc-div col-md-5">
                    <div class="panel-primary">
                        <div class="panel-heading">
                            Description
                        </div>
                        <div class="panel-body">
                            {{currentStatement.description}}
                        </div>
                    </div>
                    <div class="panel-primary">
                        <div class="panel-heading">
                            variables
                        </div>
                        <div class="panel-body">
                            <!--ng-class="{'hidden': currentStatement.variables.indexOf(var.name) === -1}-->
                            <div class="form-group var-div"  ng-repeat="var in allVariables track by $index ">
                                <label class="col-sm-4" ng-for="var.name" style="margin-bottom: 10px">{{var.name}} </label>
                                <input class="col-sm-8" type="text" ng-id="var.name" ng-model="var.val" style="margin-bottom: 10px">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
</body>
</html>
</body>
</html>
