.container {
    margin-top: 50px;
}

.buttons > :first-child  {
    margin-left: 10px;
}

.code {
    opacity: 0.2!important;
}
.code p{
    color: #000!important;
}
.active {
    opacity: 1;
}

.margin-1 {
margin-left:2%;
}

.margin-2 {
    margin-left:4%;
}
.margin-3 {
    margin-left:6%;
}
.margin-4 {
    margin-left:8%;
}
.margin-5 {
    margin-left:10%;
}
.hidden{
    vissibility: hidden;
}
.unhidden{
    visibility: visible;
}


.wrapper{
    white-space: pre;
}
.panel-body{
    position: relative;
    height:800px;
    overflow:scroll;
    overflow-x:hidden;
}
.desc-div{
    position:absolute; 
    width:40%;
    right: 10px;
    top:10px; 

    min-height: 40%;

}
.sub-decs{
    height:30%;
    overflow-y: auto;

}
.tt{
    position: absolute;
}
